<!DOCTYPE html>
<html>

<head>
	<title>cv.blair.wang</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<style>
		body {
			font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
			font-size: 11pt;
		}
		
		p, li {
			line-height: 140%;
		}
		
		#MainContainer {
			max-width: 800px;
			margin: 0 auto;
			padding: 1rem;
		}
		
		#publication-record + ul {
			padding-left: 3rem;
			text-indent: -3rem;
		}
		
		#publication-record + ul li {
			list-style: none;
			padding-bottom: 0.5rem;
		}
	</style>
</head>

<body>

<div id="MainContainer">

