<!DOCTYPE html>
<html>

<head>
	<title>cv.blair.wang</title>
	
	<!-- Icons by Yusuke Kamiyamane <https://p.yusukekamiyamane.com/>. -->
	<link rel="icon" type="image/png" href="https://blairwang.b-cdn.net/www-support/extras/card-address-16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="https://blairwang.b-cdn.net/www-support/extras/card-address-24.png" sizes="24x24">
	<link rel="icon" type="image/png" href="https://blairwang.b-cdn.net/www-support/extras/card-address-32.png" sizes="32x32">
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<style>
		body {
			font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
			font-size: 11pt;
		}
		
		p, li {
			line-height: 140%;
		}
		
		#MainContainer {
			max-width: 700px;
			margin: 0 auto;
			padding: 1rem;
		}
		
		#publication-record + ul {
			padding-left: 3rem;
			text-indent: -3rem;
		}
		
		#publication-record + ul li {
			list-style: none;
			padding-bottom: 0.5rem;
		}
	</style>
</head>

<body>

<div id="MainContainer">

